name: Linux

on:
  pull_request:
    types: [opened, synchronize, reopened]
      
jobs:
  build_engine:
    name: Build NLP-ENGINE
    runs-on: ubuntu-latest

    env:
      VCPKG_DEFAULT_TRIPLET: x64-linux

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Vcpkg Bootstrap Shell
        run: ./bootstrap-vcpkg.sh
        shell: bash
        working-directory: vcpkg

      - name: Install autoconf-archive
        run: sudo apt-get install -y autoconf-archive

      - name: Install 3rd Party
        run: vcpkg install
        working-directory: vcpkg
        
      - name: List $RUNNER_WORKSPACE before build
        run: find $RUNNER_WORKSPACE
        shell: bash

      - name: Make build directory
        run: mkdir build

      - name: Generate Solution Linux
        run: cmake -DCMAKE_BUILD_TYPE=Release -DVCPKG_BUILD_TYPE=release -B build -S . -DCMAKE_TOOLCHAIN_FILE='${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake'

      - name: Cmake Build all targets Linux
        run: cmake --build build/ --target all

      - name: Test executable --version
        run: ./bin/nlp --version || true
        
      - name: Copy nlp.exe to nlpl.exe
        run: cp bin/nlp bin/nlpl.exe
        shell: bash

      - name: Upload nlpl.exe
        uses: actions/upload-artifact@v4
        with:
          name: nlpl.exe
          path: bin/nlpl.exe

      - name: Upload libicutu.a
        uses: actions/upload-artifact@v4
        with:
          name: libicutu.a
          path: vcpkg_installed/x64-linux/lib/libicutu.a

      - name: Upload libicuuc.a
        uses: actions/upload-artifact@v4
        with:
          name: libicuuc.a
          path: vcpkg_installed/x64-linux/lib/libicuuc.a

      - name: Checkout Analyzers repo
        uses: actions/checkout@v3
        with:
          repository: VisualText/analyzers
          submodules: recursive
          path: analyzers

      - name: List runner workspace
        run: find $RUNNER_WORKSPACE
        shell: bash

      - name: Run English Parser
        run: ./bin/nlp -ANA ./analyzers/parse-en-us -WORK ./ ./analyzers/parse-en-us/input/doj.txt -DEV || true

      - name: Full English Test
        uses: LouisBrunner/diff-action@v0.2.0
        with:
          old: .github/workflows/tests/parse-en-us/final.tree
          new: ./analyzers/parse-en-us/input/doj.txt_log/final.tree
          mode: addition
          tolerance: same
          output: parse-en-us-diff-lin.txt
